*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

main
{
    display: grid;
    grid-template-areas: "n n n n n n n" 
                         "as as a a a a a"
                         "f f f f f f f";
}

aside
{
    grid-area: as;
    border: 1px solid black;
}

article 
{
    border: 1px solid black;
    width: 100%;
    grid-area: a;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
}

nav
{
    grid-area: n;
}

footer
{
    grid-area: f;
}

.termek 
{
    /* background-color: silver; */
    width: 90%;
    margin: auto;
    margin: 10px;
    /* height: 700px; */
    border: 1px solid black;

}

.kattintasiFelulet
{
    cursor: pointer;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: 10px;
    /* margin: auto; */
}

.ar
{
    margin: auto;
    float: left;
}

.wrapper span {
    font-size: 20px;
}

.wrapper button {
    margin: auto;
}

.mennyisegTarolo button, .mennyisegTarolo span
{
    margin: auto;
    float: right;
    /* margin: 10px; */
    padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.kosarGomb
{
    align-content: end;
    align-self: end;
    width: 100%;
    text-align: center;
}

img {
    width: 100%;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    article {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
    }
}

@media screen and (max-width: 1000px) {
    article {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
    }
}

@media screen and (max-width: 800px) {
    article {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }
}