*
{
    box-sizing: border-box;
}

footer
{
    text-align: center;
}

#profilTarolo
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    border-radius: 10px;
}

#profilTarolo div
{
    margin: 10px;
}

#profil, #cim
{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

#rendelesek div
{
    grid-template-columns: 2fr;
}

.szerkesztes
{
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    float: right;
    background-color: lightgray;
    padding: 5px;
}