*
{
    box-sizing: border-box;
}

body
{
    /* background-color: snow; */
    --tw-bg-opacity: 1;
    background-color: rgba(243, 244, 246, 1);
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

main
{
    width: 90%;
    margin: auto;
}

footer
{
    text-align: center;
}

article
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* box-shadow: 0px 0px 15px 0px rgba(44,44,44,0.5); */
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;

}

article div
{
    margin: 10px;
}

#profil, #cim
{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}