* {
    box-sizing: border-box;
}

article
{
    width: 80%;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid black;
}

.wrapper {
    width: 100%;
    padding: 10px;
    margin: auto;
}

.wrapper span {
    font-size: 20px;
}

.wrapper button {
    margin: auto;
    padding: auto;
}

#kosarba {
    cursor: pointer;
}

img {
    width: 100%;
}